@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@font-face {
  font-family: 'Fundamental';
  src: url('fonts/fundamentalbrigade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {

}

body {
	font-family: 'Fundamental', normal;
	background-color: #000;
	overflow:hidden;
}

h2 {
  letter-spacing:0.03em;
  font-size:10vw;
  margin:0px;
  margin-left:2vw;
  margin-top:1vw;
   text-shadow:
       0.5vw 0.5vw 0.5vw #000,
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   color: white;
  position:relative;
  z-index:5;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

h2a {
  letter-spacing:0.03em;
  font-size:6vw;
  margin:0px;
  margin-left:1vw;
  margin-right:1vw;
  margin-top:1vw;
   text-shadow:
       0.25vw 0.25vw 0.25vw #000,
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   color: white;
  opacity: 1;
  position:relative;
  z-index:5;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

h3 {
  letter-spacing:0.03em;
  font-size:5vw;
  margin:0px;
  margin-left:2vw;
  color: white;
  position:relative;
  float:left;
  display:inline-block;
  z-index:4;
  opacity: 0.85;
  text-shadow: 0.25vw 0.25vw 0.5vw rgba(0,0,0,1);
  overflow:hidden;
  text-overflow:ellipsis;
}

/* We can still assume the source is twitch */
h4 {
  background-image: url("images/twitch.png");
  background-size: contain;
  background-repeat: no-repeat;
  letter-spacing:0.03em;
  font-size:4vw;
  margin:0px;
  margin-bottom:2vw;
  margin-right:2vw;
  padding-left:5vw;
  margin-top:1vw;
  font-weight:500;
  color: white;
  z-index: 3;
  position:relative;
  float:right;
  display:inline-block;
  opacity: 0.85;
  text-shadow: 0.25vw 0.25vw 0.5vw rgba(0,0,0,0.9);
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

h4.twitch {
  background-image: url("images/twitch.png");
  background-size: contain;
  background-repeat: no-repeat;
  letter-spacing:0.03em;
  font-size:4vw;
  margin:0px;
  margin-bottom:2vw;
  margin-right:2vw;
  padding-left:5vw;
  margin-top:1vw;
  font-weight:500;
  color: white;
  z-index: 3;
  position:relative;
  float:right;
  display:inline-block;
  opacity: 0.85;
  text-shadow: 0.25vw 0.25vw 0.5vw rgba(0,0,0,0.9);
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

h4.discord {
  background-image: url("images/discord.png");
  background-size: contain;
  background-repeat: no-repeat;
  letter-spacing:0.03em;
  font-size:4vw;
  margin:0px;
  margin-bottom:2vw;
  margin-right:2vw;
  padding-left:5vw;
  margin-top:1vw;
  font-weight:500;
  color: white;
  z-index: 3;
  position:relative;
  float:right;
  display:inline-block;
  opacity: 0.85;
  text-shadow: 0.25vw 0.25vw 0.5vw rgba(0,0,0,0.9);
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

type{
	position:absolute;
	font-size:10vw;
	margin-left:22vw;
	margin-top:-13vw;
	z-index:2;
	height:100%;
	opacity:0.70;
	float:right;
}

.songrow{
  position:relative;
  width:100%;
  height:20vw;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  border-radius: 4vw;
  margin-bottom:1vw;
}

.songrow-bg {
    filter: blur(0.4vw);
    -webkit-filter: blur(0.4vw);
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    height: auto;
    opacity: 0.75;
    z-index: 1;
}

.completed{
	animation:fadeoff 1s forwards;
}

.check{
	position:absolute;
	top:-5px;
	left:5px;
	z-index:6;
	height:100%;
	width:20vw;
	opacity:0.85;
	margin-left:3vw;
	filter:none;
	-webkit-filter:none;
}

.type{
	position:absolute;
	right:1vw;
	top:1vw;
	z-index:2;
	height:60%;
	width:auto;
	opacity:0.70;
	float:right;
}

@keyframes wiggle{

                0%{
                        left:-3vw;
                }
                25%{
			left:3vw;
                }
                50%{
                        left:-1.5vw;
			opacity:1;
                }
                75%{
                        left:1.5vw;
                }
		90%{
			left:0.5vw;
		}
		100%{
			left:0vw;
			opacity:1;
		}
}

@keyframes fadeoff{
		0%{opacity:1;}
		100%{opacity:0.45;}
}